# The releng team is by default the owner of everything.
*             @OtterdogTest/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @OtterdogTest/eclipsefdn-security @OtterdogTest/eclipsefdn-releng
